/**
 * vista.css
 *   Place in the same source directory as Main.java
 *   Ensure that your build system copies this file to your build output directory.
 */

#headerLabel {
    -fx-background-color: #D7C482;
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-font-size:16px;
}

#vistaHolder {
    -fx-background-color: black;
}

#vista1 {
    -fx-background-image: url("train.PNG");
 
    -fx-background-position: center;
}

#vista2 {
	 -fx-background-image: url("map.PNG");
    -fx-background-color: lightgrey;
      -fx-background-position: center;
      -fx-background-size: 800, 800;
}

.button {
    -fx-base: white;
    -fx-font-size: 20px;
}